<?xml version="1.0"?>
<config>
  <modules>
    <Monetha_Gateway>
      <version>0.1.0</version>
    </Monetha_Gateway>
  </modules>
  <global>
    <models>
      <monetha>
        <class>Monetha_Gateway_Model</class>
      </monetha>
    </models>
    <helpers>
      <monetha>
        <class>Monetha_Gateway_Helper</class>
      </monetha>
      <monetha>
        <class>Monetha_Gateway_Const</class>
      </monetha>
    </helpers>
    <blocks>
      <monetha>
        <class>Monetha_Gateway_Block</class>
      </monetha>
    </blocks>
  </global>
  <adminhtml>
    <events>
      <admin_system_config_changed_section_payment>
        <observers>
          <monetha>
            <type>singleton</type>
            <class>Monetha_Gateway_Model_Observer</class>
            <method>changeSystemConfig</method>
          </monetha>
        </observers>
      </admin_system_config_changed_section_payment>
      <sales_order_save_after>
        <observers>
          <monetha>
            <type>singleton</type>
            <class>Monetha_Gateway_Model_OrderStatusChangeObserver</class>
            <method>handleOrderStatusChange</method>
          </monetha>
        </observers>
      </sales_order_save_after>
    </events>
  </adminhtml>
  <default>
    <payment>
      <monetha>
        <model>monetha/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Monetha Gateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <testMode>1</testMode>
        <merchantKey>MONETHA_SANDBOX_KEY</merchantKey>
        <merchantSecret>MONETHA_SANDBOX_SECRET</merchantSecret>
      </monetha>
    </payment>
  </default>
  <web>
    <default></default>
  </web>
  <frontend>
    <routers>
      <monetha>
        <use>standard</use>
        <args>
          <module>Monetha_Gateway</module>
          <frontName>monetha</frontName>
        </args>
      </monetha>
    </routers>
  </frontend>
</config>
